
h2{
  font-family: Niveau Grotesk;
  font-size: 38px;
  margin-bottom: 50px;
}
h3{
  font-family: Niveau Grotesk;
  font-size: 34px;
}
body{
  padding-top: 70px;
  max-width: 100%;
  text-align: center;
  background-color: skyblue;
}
.navbar{
  background-color: black;
}
.navBar{
  float: right;
  margin-right: 50px;
  color: skyblue;
  padding-top: 12px;
}
a{
  color: skyblue;
  margin-right: 20px;
}
.currentLink{
  color: silver;
}
#itsMe{
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 40%;
  margin: -100px 0 0 -150px;
  font-family: Niveau Grotesk;
  color: black;
}
.lights{
  color: #FFFF66;
}
#octoCat{
  width: 15px;
  height: auto;
}
ul{
  list-style: none;
  font-size: 22px;
}
ul a{
  color: darkgreen;
}
#emailForm{
  height: 100px;
  width: 50%;
}
.comingSoon{
  font-size: 50%;
}
